<a href="https://colab.research.google.com/github/Karamalachandan/Python-Assigment/blob/main/Python_data_types_and_structure_Assingment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


1. What are data structures, and why are they important?

  -> Data structures are ways of organizing and storing data to perform operations efficiently. They are important because they help manage large amounts of data for tasks like searching, sorting, and data manipulation effectively.

---

2. What is the difference between mutable and immutable data types with examples?

   -> Mutable data types can be changed after creation (e.g., lists: `my_list[0] = 10`). Immutable data types cannot be changed after creation (e.g., strings: `'hello'[0] = 'H'` will give an error).

---

3. What are the main differences between lists and tuples in Python?

  -> Lists are mutable, can be modified, and use square brackets (`[]`). Tuples are immutable, cannot be changed, and use parentheses (`()`). Lists are generally used when data might change, while tuples are used when data must remain constant.

---

4. How do dictionaries store data?

  -> Dictionaries store data in key-value pairs. Each unique key maps to a value, and they are stored using a structure called a hash table internally for fast access.

---

5. Why might you use a set instead of a list in Python?

  -> A set is used when you need to store unique items and eliminate duplicates automatically. Sets also provide faster membership testing than lists.

---

6. What is a string in Python, and how is it different from a list?

  -> A string is an immutable sequence of characters, while a list is a mutable sequence that can hold different data types. You can change list elements but not characters in a string.

---

7. How do tuples ensure data integrity in Python?

  -> Tuples are immutable, which means their content cannot be changed. This ensures that data stored in a tuple remains consistent and secure throughout the program.

---

8. What is a hash table, and how does it relate to dictionaries in Python?

  -> A hash table is a data structure that stores data in an associative manner using hash functions. Python dictionaries use hash tables internally to allow fast retrieval using keys.

---

9. Can lists contain different data types in Python?

  -> Yes, lists in Python can contain different data types like integers, strings, and even other lists or objects in the same list.

---

10. Why are strings immutable in Python?

  -> Strings are immutable to ensure safety and efficiency. It allows Python to reuse string objects in memory (string interning) and avoid unexpected side effects when strings are shared across different parts of a program.

---

11. What advantages do dictionaries offer over lists for certain tasks?

  -> Dictionaries allow fast access to values via keys, making them better for tasks that involve lookup, mapping, or associative arrays, unlike lists that require iteration.

---

12. How do sets handle duplicate values in Python?

  -> Sets automatically remove duplicate values. If you add the same element multiple times to a set, it will only store one instance.

---

13. Describe a scenario where using a tuple would be preferable over a list?

  -> When you want to store fixed data like geographical coordinates `(latitude, longitude)` or constants that shouldn’t be changed, tuples are preferable due to immutability.

---

14. How does the “in” keyword work differently for lists and dictionaries?

  -> For lists, `"in"` checks if a value exists in the list. For dictionaries, it checks if a key exists, not the value.

---

15. Can you modify the elements of a tuple? Explain why or why not?

  -> No, you cannot modify tuple elements because tuples are immutable. Once created, their contents are fixed and cannot be changed.

---

16. What is a nested dictionary, and give an example of its use case?

  -> A nested dictionary is a dictionary within another dictionary.
Example:

```python
students = {
  "101": {"name": "Alice", "grade": "A"},
  "102": {"name": "Bob", "grade": "B"}
}
```

Use case: Storing structured data like student records.

---

17. Describe the time complexity of accessing elements in a dictionary?

  -> Accessing elements in a dictionary has an average time complexity of **O(1)** because dictionaries use hash tables.

---

18. In what situations are lists preferred over dictionaries?

  -> Lists are preferred when order matters, or when data doesn't need to be accessed using keys—like iterating over a sequence of items in order.

---

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  -> Dictionaries were unordered before Python 3.7, meaning the order of items wasn't guaranteed. In modern versions, insertion order is preserved, but logic should not rely on order unless explicitly required.

---

20. What is the difference between a list and a dictionary in terms of data retrieval?

  -> Lists retrieve data by index, which takes O(n) time for searching. Dictionaries retrieve data by key, which is much faster (O(1) average time complexity).

---

Practical Questions

In [1]:
# 1.Write a code to create a string with your name and print it
A = "Chandan"
print (A)

Chandan

In [2]:
# 2.Write a code to find the length of the string "Hello World
B = "Hello World"
len(B)

11

In [3]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming"
C ="Python Programming"
C[0:3]

'Pyt'

In [4]:
# 4.Write a code to convert the string "hello" to uppercase
D = "hello"
print(D.upper())

HELLO

In [5]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
E = "I like apple"
print(E.replace("apple","orange"))

I like orange

In [36]:
# 6.Write a code to create a list with numbers 1 to 5 and print it
List =  [1,2,3,4,5]
print(List)

[1, 2, 3, 4, 5]

In [11]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4]
List1 = [1,2,3,4]
List1.append(10)
print(List1)

[1, 2, 3, 4, 10]

In [12]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
List2 = [1,2,3,4,5]
List2.remove(3)
print(List2)

[1, 2, 4, 5]

In [13]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
List3 = ['a', 'b', 'c', 'd']
print(List3[1])

b

In [14]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].
List4 = [10, 20, 30, 40, 50]
List4.reverse()
print(List4)

[50, 40, 30, 20, 10]

In [15]:
# 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
Tuple = (100,200,300)
print(Tuple)

(100, 200, 300)

In [16]:
# 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow
Tuple1 = ('red', 'green', 'blue', 'yellow')
print(Tuple1[-2])

blue

In [17]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
Tuple2 = (10, 20, 5, 15)
print(min(Tuple2))

5

In [18]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
Tuple3 = ('dog', 'cat', 'rabbit')
print(Tuple3.index('cat'))

1

In [19]:
# 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
Tuple4 = ('apple', 'banana', 'orange')
print('kiwi' in Tuple4)

False

In [20]:
#  16.Write a code to create a set with the elements 'a', 'b', 'c' and print it
Set = {'a', 'b', 'c'}
print(Set)

{'c', 'a', 'b'}

In [21]:
# 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
Set1 = {1, 2, 3, 4, 5}
Set1.clear()
print(Set1)

set()

In [22]:
# 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
Set2 = {1, 2, 3, 4}
Set2.remove(4)
print(Set2)

{1, 2, 3}

In [23]:
# 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set3 = {1, 2, 3}
set4 = {3, 4, 5}
print(set3.union(set4))

{1, 2, 3, 4, 5}

In [24]:
# 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set5 = {1, 2, 3}
set6 = {2, 3, 4}
print(set5.intersection(set6))

{2, 3}

In [26]:
# 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1 ={"name": "John", "age": 25,"city": "New York"}
print(dict1)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [27]:
# 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict2 = {'name': 'John', 'age': 25}
dict2["country"] = "USA"
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
# 23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict3 = {'name': 'Alice', 'age': 30}
print(dict3['name'])

Alice

In [29]:
# 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict4['age']
print(dict4)

{'name': 'Bob', 'city': 'New York'}

In [30]:
#  25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict5 = {'name': 'Alice', 'city': 'Paris'}
print('city' in dict5)

True

In [31]:
# 26.Write a code to create a list, a tuple, and a dictionary, and print them all.
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 30}

# Printing them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30}

In [32]:
# 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted List:", random_numbers)

Sorted List: [31, 48, 52, 58, 59]

In [33]:
# 28.Write a code to create a list with strings and print the element at the third index
# Creating a list with strings
fruits = ["apple", "banana", "cherry", "orange", "grape"]

# Printing the element at the third index
print(fruits[3])

orange

In [34]:
# 29.Write a code to combine two dictionaries into one and print the resultdi
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combining the dictionaries
combined_dict = {**dict1, **dict2}

# Printing the result
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [35]:
# 30.Write a code to convert a list of strings into a set.
list_of_strings = ["apple", "banana", "cherry", "apple", "banana"]

# Converting the list to a set
unique_set = set(list_of_strings)

# Printing the set
print(unique_set)

{'cherry', 'banana', 'apple'}